
.Weather-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.Weather-dayitems {
  display: flex;
  flex-direction: row;
    justify-content: center;
}

.Weather-houritems {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Weather-houritem {
    text-align: left;
    margin: 10px;
}