

.DayWeather-container {
  display: flex; /* todo: flex grid if target browser supports it */
  flex-direction: row;
  width: auto;
}

.DayWeather-item {
  width: 180px; /* todo: flex grid if target browser supports it */
}